
        p{
            font-size: 35px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: rgb(255, 87, 115);
            margin-left: 60px;
        }
        .flex-1{
            display: flex;
            margin-left: 60px;
        }
        .flex-1>div>img:hover{
            transform: scale(1.2);
        }
        .flex-1>div>a{
            text-decoration: none;
            font-size: 12px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: rgb(252, 92, 119);
            margin-left: 10px;
            position: relative;
        }
        .flex-1>div>a::after{
            content: "";
            position: absolute;
            width: 0;
            height: 1px;
            background-color: rgb(252, 92, 119);
            left: 0;
            bottom: -3px;
        }
        .flex-1>div>a:hover::after{
            width: 100%;
        }  
        .flex-1>div>h3{
            margin-left: 8px;
            color: rgb(250, 94, 120);
        }
        .flex-2{
            display: flex;
            margin-left: 60px;
        }
        .flex-2>div>img:hover{
            transform: scale(1.2);
        }
        .flex-2>div>a{
            text-decoration: none;
            font-size: 12px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: rgb(252, 92, 119);
            margin-left: 10px;
            position: relative;
        }
        .flex-2>div>a::after{
            content: "";
            position: absolute;
            width: 0;
            height: 1px;
            background-color: rgb(252, 92, 119);
            left: 0;
            bottom: -3px;
        }
        .flex-2>div>a:hover::after{
            width: 100%;
        }  
        .flex-2>div>h3{
            margin-left: 8px;
            color: rgb(250, 94, 120);
        }
        .flex-3{
            display: flex;
            margin-left: 60px;
        }
        .flex-3>div>img:hover{
            transform: scale(1.2);
        }
        .flex-3>div>a{
            text-decoration: none;
            font-size: 12px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: rgb(252, 92, 119);
            margin-left: 10px;
            position: relative;
        }
        .flex-3>div>a::after{
            content: "";
            position: absolute;
            width: 0;
            height: 1px;
            background-color: rgb(252, 92, 119);
            left: 0;
            bottom: -3px;
        }
        .flex-3>div>a:hover::after{
            width: 100%;
        }  
        .flex-3>div>h3{
            margin-left: 8px;
            color: rgb(250, 94, 120);
        }
        .flex-4{
            display: flex;
            margin-left: 60px;
        }
        .flex-4>div>img:hover{
            transform: scale(1.2);
        }
        .flex-4>div>a{
            text-decoration: none;
            font-size: 12px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: rgb(252, 92, 119);
            margin-left: 10px;
            position: relative;
        }
        .flex-4>div>a::after{
            content: "";
            position: absolute;
            width: 0;
            height: 1px;
            background-color: rgb(252, 92, 119);
            left: 0;
            bottom: -3px;
        }
        .flex-4>div>a:hover::after{
            width: 100%;
        }  
        .flex-4>div>h3{
            margin-left: 8px;
            color: rgb(250, 94, 120);
        }
        .link{
            text-align: center;
        }
        .link a button{
            background-color: blueviolet;
            color: white;
            padding: 8px 20px;
            border: 2px solid gray;
            border-radius: 20px;
            cursor: pointer;
        }   
    